# Visual Studio Code configuration files
/.vscode

# Prettier configuration files
/.prettierrc

# Typescript configuration files
/tsconfig.json
/examples
/src

# Dependencies
# /node_modules node_modules is automatically ignored by npm

# Mac files
.DS_Store

# Logs files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime files
pids
*.pid
*.seed
*.pid.lock
